* {
	margin: 0px;
    padding: 0px;
    font-size: 0;
}

body {
    background: #eee;
    padding: 1px;
    -webkit-tap-highlight-color: rbga(255, 255, 255, 0);
    -webkit-user-select: none;
}
.pt {
    color: #eee;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}
.element {
    border: 1px solid #eee;
	width: calc((100% / 18) - 2px);
}
.number {
    background: #222;
    width: 60%;
    height: 25%;
    font-size: 18px;
}
.charge {
    background: #444;
    width: 40%;
    height: 25%;
    font-size: 18px;
}
.symbol {
    background: #555;
    width: 100%;
    height: 40%;
    font-size: 26px;
}
.name {
    background: #333;
    width: 100%;
    height: 15%;
    font-size: 8px;
    text-transform: capitalize;
}
.mass {
    background: #666;
    width: 100%;
    height: 20%;
    font-size: 13px;
}

.solid {
    color: #000000;
}
.liquid {
    color: #3c78d8;
}
.gas {
    color: #808080;
}

.divider {
    width: 100%;
    height: 30px;
}

.period {
    width: 100%;
}
